---
interface Props {
  icon: string;
  title: string;
}

const { icon, title } = Astro.props;
---

<div
  class="bg-surface-elevated/50 backdrop-blur-sm p-8 rounded-3xl border border-surface-border"
>
  <div class="flex items-center mb-4">
    <div
      class="w-12 h-12 bg-secondary rounded-lg flex items-center justify-center mr-4"
    >
      <span class="text-2xl">{icon}</span>
    </div>
    <h3 class="text-3xl font-semibold text-secondary">{title}</h3>
  </div>
  <slot />
</div>
