---
// Core Values component - reusable list of platform core values
import Card from '../react/Card';
---

<Card title="Our Core Values">
  <ul class="space-y-6 list-disc pl-8">
    <li class="text-lg text-neutral-300 leading-relaxed">
      Humans are eternal, the things we buy and sell are not.
    </li>
    <li class="text-lg text-neutral-300 leading-relaxed">
      Relationships have lasting value, profit margins do not.
    </li>
    <li class="text-lg text-neutral-300 leading-relaxed">
      Quality is worth far more than quantity.
    </li>
  </ul>
</Card>
