@import 'tailwindcss';
@import './themes.css';

@font-face {
  font-family: "Allura";
  src: url("/fonts/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cursive: "Allura";
}
