@import 'tailwindcss';
@import './themes.css';

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans/OpenSans-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Allura";
  src: url("/fonts/Allura/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --default-font-family: "Open Sans";
  --font-sans: "Open Sans";
  --font-title: "Montserrat";
  --font-cursive: "Allura";
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}
