name: opencode

on:
  issue_comment:
    types: [created]

jobs:
  opencode:
    # Only allow repository owners to trigger this job.
    if: |
      (
        contains(github.event.comment.body, ' /oc') ||
        startsWith(github.event.comment.body, '/oc') ||
        contains(github.event.comment.body, ' /opencode') ||
        startsWith(github.event.comment.body, '/opencode')
      ) && github.event.comment.author_association == 'OWNER'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      # Allow updating code
      contents: write
      pull-requests: read
      issues: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run opencode
        uses: sst/opencode/github@latest
        env:
          OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
        with:
          model: openrouter/openai/gpt-5.1-codex
